@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #0A0A0A;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .font-light {
    font-weight: 300;
  }
}

/* Smooth scroll for Safari */
/* @supports (-webkit-overflow-scrolling: touch) {
  body {
    -webkit-overflow-scrolling: touch;
  }
} */